*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "Nunito Sans", sans-serif;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 1000 */

.nunito-sans{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100,"YTLC" 500;
}

/* NavBar Component */

.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
}

.navbar .nav-links{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none !important;
}

.navbar .nav-links .nav-link{
    padding: 3px;
}


.navbar .nav-links .nav-link .link{
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.604);
    font-size: 1.1rem;
    padding: 5px;
}

.navbar .nav-links .nav-link .link:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navbar .logo-container{
}

.navbar .logo-container .logo{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(83, 143, 255);
}

.navbar .get-started{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navbar .get-started .get-started-btn{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8rem;
    padding: 8px 10px;
    color: #fff;
    border-radius: 30px;
    background-color: rgb(83, 143, 255);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.navbar .burger{
    position: absolute;
    top: 25%;
    right: 20px;
    display: none;
    width: 40px;
    height: 100%;
    transition: top .5s ease-in-out;
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    -ms-transition: top .5s ease-in-out;
    -o-transition: top .5s ease-in-out;
}

.navbar .burger div{
    height: 8px;
    width: 100%;
    margin: 1px 0;
    background-color: rgba(0, 0, 0, 0.698);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navbar .burger div:nth-child(2){
    background-color: rgb(83, 143, 255);
}

/* Comportamento em dispositivos com larguras menores de 475px */
@media screen and (max-width: 475px) {
    .navbar {
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 60px;
        max-height: 230px;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
}
    
    .navbar.extended{
        justify-content:end;
        flex-direction: column;
        height: 100%;
    }
    .navbar.extended .logo-container{
        position: absolute;
        left: 20px;
        top: 45%;
    }
    .navbar.extended .burger{
        top: 10px;
    }

    /* Escondendo os Links do Menu para dispositivos móveis */
    .navbar .nav-links{
        display: none;
    }
    .navbar .get-started{
        display: none;
    }

    .navbar.extended .nav-links{
        display: block;
        text-align: center;
        margin:  10px 0;
    }

    .navbar.extended .get-started{
        display: block;
        margin: 10px 0;
    }
    /* Mostrando o btn Hamburger */
    .navbar .burger{
        display: block;
    }
}